



<%= render 'layouts/banner' %>
<hr>
<br>
<h1>Top 3</h1>
<%= render "best_stories" %>

<h3 class="text-center"><u>All stories</u></h3>

  <center><h1>Choisir son Histoire du Soir</h1></center>
  <%= link_to "Créer une histoire", new_story_path, class: "btn btn-card" %>
<div class='containerfluid row ml-2 mr-2 d-flex justify-content-around gx-0 mb-5'>

<% @stories.each do |story| %>
    
    
    <div class="card m-4" style="width: 30rem; ">
        <center><h1 class="card-title"><%= story.title %></h1></center>
        <%= image_tag ("harry_potter.jpg") %>
        <div class="card-body">
         
            <p class="card-text-scrollbar"><%= story.content %></p>

            <%= link_to "Show", story_path(story), class: "btn btn-card" %>


            <!-- Si utilisateur connecté-->
            <% if current_user %>

                <!-- Si déjà liké unlike dispo-->
                <% if story.likes.where(user: current_user, story: story).count != 0 %>

                    <a href=<%=story_like_path(controller: :likes, action: :destroy, story_id: story.id,id: story.likes.where(user: current_user, story: story)[0].id)%> data-method='delete'><p ><i class="fa fa-heart" style="color:red"></i>  
                    <%=story.likes.size%></p></a>

                <!-- sinon like dispo-->
                <%else%>

                    <a href=<%=story_likes_path(controller: :likes, action: :create, story_id: story.id)%> data-method='post'><p><i class="fa fa-heart" style="color:green"></i>  
                    <%=story.likes.size%></p></a>

                <%end%>  

            <!-- sinon pas de lien-->
            <%else%>

                <p><i class="fa fa-heart" style="color:grey"></i>  
                <%=story.likes.size%></p></a>

            <%end%>

        </div>
    </div>
    
    <% end %>
    
</div>