<div class="cards">
	<div class="card-left">
    <h1 class="card-title">
      <%= @story.title %>
    </h1>
    <%= image_tag ("harry_potter.jpg"), class: "image-show" %>
    <div class="card-body">
      <p class="card-text">Date de création : <%= @story.created_at.strftime('%d/%m/%Y') %></p>
      <p class="card-text">Date de mise à jour : <%= @story.updated_at.strftime('%d/%m/%Y') %></p> 
      <p>Auteur : <%= @story.author %></p>
    </div>
  </div>
  <div class="card-right">
    <h1 class="card-title">
      <%= @story.title %>
    </h1>
    <div class="card-body">
      <p class="card-text"><%= @story.content %></p>
    </div>
  </div>
</div>


<div>
  <%= link_to "Retour", root_path, class: "btn btn-card center" %>
  <br/><br/>
  <% if current_user %>
    <%if current_user.id == @story.user_id%>
      <a href="<%= edit_story_path %>" class="btn btn-secondary">Edit</a>
      <a href="<%= story_path %>" class="btn btn-danger" data-confirm="Are you sure?" data-method="DELETE" >Delete</a>
    <% end %>
  <% end %>
</div>