<header>

    <%= link_to "Home", root_path %>

    <nav>

        <%= link_to 'All stories', stories_path %>
        <% if user_signed_in? %>
            <%= link_to current_user.email, user_path(current_user) %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'Login', new_user_session_path %>
            <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>

    </nav>

</header>